.navbar {
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: black;
}

.link {
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 3px;
}

.link:hover {
    color: rgba(43, 144, 246, 0.817);
    transition: all 0.3s ease-in-out;
}